.container1 {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.container2 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 100vh;
  background-color: #131213;
  align-items: center;
  justify-content: start;
}
.para {
  color: white;
}
.button1 {
  background-color: #f3aa4e;
  color: white;
  border-radius: 10px;
}

.heading1 {
  color: #f3aa4e;
}
.container3 {
  background-color: black;
  width: 60vw;
  height: 100vh;
}
.list1 {
  list-style-type: none;
  display: flex;
}
